#logo{
    height: 40%;
    width: 40%;
    border: 1;

}
#header-top{
	background: #dedbcc;
	height: 50px;
	margin-top: -5px;
	position: fixed;
	width: 100%;
	z-index: 100;
}

#search-form {
    height: 35px;
	position: absolute;
	left: 65px;
}